.jumbotron {
    background-color: blue;
    text-decoration-style: dotted;
    color: red; 
    font-family: 'ZCOOL KuaiLe', cursive;   
    font-size: 100px;
}
#timer  {
    text-align: center;
    font: bolder;
    font-size: 60px;
    font-family: 'ZCOOL KuaiLe', cursive;
}
.text {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 24pt;
    color: blue;
}
.text1 {
    color: red;
    font-size: 18pt;
}
#questionsCorrectBox {
    padding-left: 200px;
    padding-right: 200px;
    font-size: 32pt;
    font-family: 'VT323', monospace;

}
footer {
    text-align: center;
    color:purple;
}




